[Unit]
Description=Prometheus exporter for Lustre filesystem
Documentation=https://github.com/whamcloud/lustrefs-exporter

[Service]
Environment=RUST_LOG=info,opentelemetry_sdk=warn
Restart=on-failure
ExecStart=/usr/bin/lustrefs_exporter
MemoryHigh=2750M
MemoryMax=3G

[Install]
WantedBy=multi-user.target
